/* .events-container {
    padding: 20px;
}

.events-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.event-card {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.event-card h2 {
    margin-top: 0;
}

.event-card p {
    margin: 5px 0;
} */