.event-feed {
    width: 100%;
    max-width: 600px;
    /* Adjust the maximum width as needed */
    margin: 0 auto;
    padding: 20px;
}

.event-list {
    margin-top: 20px;
}

.event {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.error {
    color: red;
}